lambda:
    connection:
        protocol: aws
        arn: arn:aws:lambda:us-east-1:531917873182:function:pip-services-smssettings

    credential:
        access_id: AZZZZZZFCBHD4O4Q
        access_key: ZZZZZZZDre+/ztBsLe9bEPegiP/kV

    options:
        connection_timeout: 30000
